# /abc matches top-level folder
# abc matches any folder/file

# Git
.git/

# Visual Studio
.vs/
*.pyproj.user

# Python specifics
py_env/
__pycache__/
.mypy_cache/
*.pyc

# Lib
lib/phantomjs-*

# Others
*.cache
*.key
*.log
*.sqlite
